header {
  display: inline;
  font-family: 'Great Vibes', cursive;
  font-size: 56px;
  height: 200px;
  text-align: center;
  /* padding: 20px; */
}

root {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

sidebar {
  z-index: 2;
  position: absolute;
  top: 0;
  bottom: 0;
  transition: transform .3s ease-out;
  Webkit-transition: -webkit-transform .3s ease-out;
  will-change: transform;
  overflow-y: auto;
}

content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: scroll;
  Webkitoverflowscrolling: touch;
  transition: left .3s ease-out, right .3s ease-out;
}

overlay {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s ease-out, visibility .3s ease-out;
  background-color: rgba(0,0,0,.3);
}

dragHandle {
  z-index: 1;
  position: fixed;
  top: 0;
  bottom: 0;
}

.menuButton {
  display: inline-flex;
  text-align: center;
  font-family: 'Great Vibes', cursive;
  font-weight: bold;
  font-size: 23px;
  margin: 20px;
  padding: 10px;
  border: 1px solid black;
  box-shadow: 2px 2px black;
}

.menuButton:hover {
  opacity: 0.5;
}

.middleFinger:hover {
  transform: scale(1.5);
  transition-timing-function: ease-out;
  transition-duration: 2s; 
}

.container {
  margin-left: 40px;
  font-family: 'Reenie Beanie', cursive;
  font-size: 28px;
}

.container h1 {
  font-size: 53px;
  margin-bottom: -10px;
}

.container h3 {
  font-size: 35px;
  margin-bottom: 30px;
}

.submit {
  margin-bottom: 10px;
  margin-left: 30px;
  border-width: 2px;
  height: 40px;
  width: 100px;
  font-size: 16px;
  background-color: white;
  border: 1px solid black;
  cursor: pointer;
}

.submit:hover {
  opacity: 0.5;
}

#shout {
  border: 1px solid red;
  background-color: red;
  font-weight: bold;
  color: white;
}

#shout:hover {
  opacity: 0.5;
}

#spanish {
  background:url(./img/mexico.png);
  background-repeat: no-repeat;
  width:100px;
  height:60px;
  border: 0;
  color: rgba(255,255,255,0);
}

#spanish:hover {
  opacity: 0.5;
}

#french {
  background:url(./img/french.png);
  background-repeat: no-repeat;
  width:100px;
  height:58px;
  border: 0;
  color: rgba(255,255,255,0);
}

#french:hover {
  opacity: 0.5;
}

#german {
  background:url(./img/german.png);
  background-repeat: no-repeat;
  width:100px;
  height:58px;
  border: 0;
  color: rgba(255,255,255,0);
}

#german:hover {
  opacity: 0.5;
}

#korean {
  background:url(./img/korea.png);
  background-repeat: no-repeat;
  width:100px;
  height:63px;
  border: 1px solid whitesmoke;
  color: rgba(255,255,255,0);
}

#korean:hover {
  opacity: 0.5;
}

#russian {
  background:url(./img/russia.png);
  background-repeat: no-repeat;
  width:100px;
  height:65px;
  border: 1px solid whitesmoke;
  color: rgba(255,255,255,0);
}

#russian:hover {
  opacity: 0.5;
}

#canada {
  background:url(./img/canada.png);
  background-repeat: no-repeat;
  width:100px;
  height:63px;
  border: 0;
  color: rgba(255,255,255,0);
}

#canada:hover {
  opacity: 0.5;
}

div.social {
  position: relative;
  margin-bottom: 10px;
}

.social label {
  position: absolute;
  bottom: 0;
  right: 0;
}

.social input {
  position: absolute;
  bottom: 0;
  right: 0;
}

.social button {
  position: absolute;
  bottom: 0;
  right: 0;
}

.social a {
  position: absolute;
  bottom: 0;
  right: 0;
}

label.textLabel {
  height: 20px;
  margin-right: 700px;
  margin-bottom: 14px;
}

input.sms {
  height: 20px;
  margin-right: 560px;
  margin-bottom: 8px;
}

.text {
  border: 1px solid black;
  width: 70px;
  height: 25px;
  margin-right: 480px;
  margin-bottom: 8px;
  cursor: pointer;
  font-size: 12px;
  background-color: white;
  color: black;
}

.text:hover {
  opacity: 0.5;
}

#clipboard {
  margin-right: 350px;
  margin-bottom: 7px;
  height: 30px;
  width: 85px;
  border-radius: 5px;
  border-color: orangered;
  background-color: orangered;
  color: white;
  font-size: 13px;
  font-weight: bold;
}

#clipboard:hover {
  opacity: 0.5;
}

.twitterButton img {
  width: 88px;
  height: 30px;
  margin-right: 250px;
}

.twitterButton:hover {
  opacity: 0.5;
}

.facebookButton img {
  width: 88px;
  height: 30px;
  margin-right: 150px;
}

.facebookButton:hover {
  opacity: 0.5;
}

.slackButton img {
  width: 110px;
  height: 32px;
  margin-right: 27px;
}

.slackButton:hover {
  opacity: 0.5;
}

#myBtn {
  display: none; 
  position: fixed; 
  bottom: 20px; 
  right: 30px; 
  z-index: 99; 
  border: none; 
  outline: none; 
  background-color: red; 
  color: white; 
  cursor: pointer; 
  padding: 15px; 
  border-radius: 10px; 
  font-size: 18px; 
}

#myBtn:hover {
  opacity: 0.5;
}
